
#notifications-container
{
	position: absolute;
	top: 15px;
    right: 15px;
    z-index: 9999; /*yolo*/
}

#notifications-container .notification
{
	background-color: #5d5f60;
	width: 200px;
	min-height: 70px;
    padding: 0 10px 5px 10px;
    margin: 0 0 8px 0;
    border-radius: 2px;
    cursor: pointer;
}

#notifications-container .notification h3
{
    margin:0;
    color: #8fddff;
    font-size:20px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
#notifications-container .notification p
{
    margin:0 0 5px 0;
    color: #CECECE;
    line-height: 16px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}